
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;

        }

        body {
            background-color: #2d3137;
        }

        nav {
            width: 100%;
            height: 10vh;
            background-color: #5e5050;
            box-shadow: 0 0 20px;
            >h1{
                position: absolute;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin-left: 30px;
                font-size: 50px;

            }
        }

        .u1 {
            display: flex;
            justify-content: center;
            margin: auto;
            width: 80%;
            height: 100%;
            /* border: 1px solid white; */
            align-items: center;

            >li {
                list-style-type: none;
                /* border: 1px solid red; */
                height: 100%;
                position: relative;
                top: 0;
                left: 0;

                &:hover {
                    >ul {
                        display: block;
                    }
                }

                >a {
                    color: white;
                    transition: 1s;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    /* border: 1px solid white; */
                    /* background-color: yellow; */
                    padding: 20px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                    &:hover {
                        background-color: white;
                        color: black;
                    }

                }
            }
        }

        .u2 {
            height: 200px;
            position: absolute;
            top: 10vh;
            left: 0;
            display: none;
            width: 400px;

            >li {
                list-style-type: none;

                >a {

                    color: white;
                    text-decoration: none;
                    display: flex;
                    /* justify-content: center; */
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    /* border: 1px solid white; */
                    background-color: #5e5050;
                    padding: 20px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                    &:hover {
                        background-color: white;
                        color: black;
                    }

                }
            }
        }

        .h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 35px;
            color: white;
            text-transform: capitalize;
            padding: 10px 5px;
        }

        .s1 {
            color: white;
            display: block;
            font-size: 15px;
            margin: 10px 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        span {
            display: flex;
            width: 100%;
            height: 20%;
            padding: 5vh;


        }

        .figs {
            /* position: absolute; */
            /* height: 720px;
            width: 360px; */
            padding: 5vh;
            margin: 3vh;
            overflow: hidden;

            .imgs {
                object-fit: cover;
                /* display: grid; */
                height: 720px;
                width: 360px;
                /* border: 1px solid white; */
                border-radius: 5px;
                transition: 1s;
                box-shadow: 0 0 20px;
                &:hover{
                    scale: 0.8;
                }
            }
        }



           footer {
            z-index: 3;
            width: 100%;
            height: 250px;
            /* border: 1px solid black; */
            position: relative;
            bottom: 0;
            display: flex;
            justify-content: flex-end;

            >div {
                width: 18%;
                height: 100%;
                position: relative;

                >figcaption {
                    height: 20%;
                    width: 44%;
                    align-content: center;
                    justify-content: center;
                    z-index: -1;
                    color: rgb(247, 244, 244);
                    position: absolute;
                    bottom: 3%;
                    right: 18%;
                    background-color: rgba(0, 0, 0, 0.152);
                    padding: 8px;
                    border-radius: 10px;
                }

            }

            .icon {
                width: 20%;
                height: 100%;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                text-align: center;

                img {
                    width: 55px;
                    height: 100%;
                }
            }

             .pic {
            display: flex;
            position: absolute;
            width: 68%;
            height: 75%;
            right: 5%;
            border-radius: 50%;
            box-shadow: 0 0 20px;
            overflow: hidden;


            #id {
                display: flex;
                width: 105%;
                height: 120%;
                justify-content: center;
                /* object-fit: cover; */

            }

        }
        }

       



   